.CSS_body{
	/*background-image : url('../image/bg_body.jpg');*/
	background-color: #C3CEF4;
}
/* entete */
#id_logo {
	width : 20%;
	height : 113px;
	float: left;
	border: solid 1px red;
}

#id_bandeau {
	width : 79%;
	height : 113px;
	float: left;
	border: solid 1px yellow;
	margin :0px;
}


/* contenu de pages */
.CSS_web_content {
	width : 65%;
	height : 810px;
	margin : 0 auto;
	border : 0.05em solid #818282; 
	background-color: #EDDAE9;
}
.CSS_entete {
	height : 150px;
	background-repeat : no-repeat;
	position : relative;

}
.CSS_contenu {
	height : 500px;
	text-align : center;
	margin-top : 10px;
}
.CSS_pageDePage {
	width : 100%;
	height : 100px;
}
#entete{
	position : relative;
	/* background : url('../image/bgheader.jpg'); */
}
#menu{
	position:absolute;
	bottom : 0px;
}
body {
	background: url("body_bg.gif") repeat-x scroll 0 0 #DDDDDD;
    font: 10px normal Arial,Helvetica,sans-serif;
	text-align: center 
}

span.required{
	color : red;
}

/* menu */

.CSS_menu {
	position : absolute;
	left : 0px;
	width : 100%;
	background: url("../image/topnav_bg.gif") repeat-x scroll 0 0 transparent
}

#IE7 #IE8  #IE9  .CSS_menu  {
	width:100%;
}

/* contact */

#contactFS {
	width:60%;
	font: 10px normal;
	margin: 0 auto;
	padding :10px;
	height : 400px;
	text-align : center;
}
/* formulaire */
.divBtnFormulaire {
	margin : 0 auto;
	width : 150px;
	
}


input[type=submit], input[type=reset] {
 border:1px outset #A6BEDE;
 /*font-weight:bold;*/
 cursor:pointer;
 }
input[type=submit]:hover, input[type=reset]:hover {
 border:1px outset red;
 background-color:white;
 
 }
input[type=submit]:active, input[type=reset]:active {
 border:2px inset #A6BEDE;
 background-color:#A6BEDE;
 color:black;
 }

input[type=text], textarea, select {
	border:1px outset blue;
	background-color:white;
}

input[type=text]:hover, textarea:hover, select:hover {
	border:1px outset red;
	background-color:white;
}  

ul.topnav {
	list-style: none;
	padding: 0 20px;
	margin: 0;
	float: left;
	background: #222;
	font-size: 1.2em;
	background: url(../image/topnav_bg.gif) repeat-x;
}
ul.topnav li {
	float: left;
	margin: 0;
	padding: 0 15px 0 0;
	position: relative;
}
ul.topnav li a{
	padding: 10px 5px;
	color: #FFF;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:hover{
	background: url(../image/topnav_hover.gif) no-repeat center top;
	text-decoration : underline;
	color : grey;
}

ul.topnav li a:active{
	background: url(../image/topnav_hover.gif) no-repeat center top;
	text-decoration : underline;
	color : red;
}
ul.topnav li span { /*-- Style du bouton qui exécutera l'action qui déroulera le menu déroulant jquery (représenté par une flèche) --*/
	width: 17px;
	height: 35px;
	float: left;
	background: url(../image/subnav_btn.gif) no-repeat center top;
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*-- Changement au survol de la flèche (bouton Drop Down)--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute;
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	border: 1px solid #111;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Cré un effet de bevel--*/
	border-bottom: 1px solid #444; /*--Cré un effet de bevel--*/
	clear: both;
	width: 170px;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: #333 url(../image/dropdown_linkbg.gif) no-repeat 10px center;
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { /*--Changement au survol d'un lien de la sous-navigation--*/
	background: #222 url(../image/ropdown_linkbg.gif) no-repeat 10px center;
}
